/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: #fff;
  margin: 0 15px;
}

/* Logo Styling */
header .logo {
  height: 30px; /* Smaller size for logo */
  width: auto;
  margin-right: 20px;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-item {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-item a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
}

.product-item a:hover {
  background-color: #0056b3;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}
/* Hero Section Styling */
.hero {
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.hero-image {
  position: relative; /* This allows the text and button to be positioned inside */
  background-image: url('path-to-your-image.jpg');
  background-size: cover; /* Ensure the image covers the whole container */
  background-position: center; /* Center the image */
  height: 500px; /* Adjust the height of the section */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the text */
  align-items: center; /* Horizontally center the text */
  text-align: center;
  color: white; /* Make the text color white for better visibility on the image */
}

.hero-image h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-image p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-button {
  padding: 15px 25px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2em;
}

.cta-button:hover {
  background-color: #0056b3;
}
